.iconCon {
    width: 64px;
    height: 64px;
    background: #292B2C;
    padding: 1rem;
    border-radius: 10px;
    aspect-ratio: 1 / 1;
    transition: all 0.2s ease-in-out;
}

.iconCon:hover {
    background: #36393B;
}

.iconCon ~ p {
    font-size: 14px;
    opacity: 0;
    display: none;
    transition: opacity 0.2s ease-in-out;
}

.iconCon:hover ~ p {
    display: block;
    opacity: 1;
}

@media screen and (min-width: 768px) {
    .iconCon {
        width: 80px;
        height: 80px;
        padding: 1.5rem;
    }
}

@media screen and (min-width: 1024px) {
    .iconCon {
        width: 96px;
        height: 96px;
        padding: 1.75rem;
    }
}

@media screen and (min-width: 1200px) {
    .iconCon {
        width: 104px;
        height: 104px;
    }

    .iconCon ~ p {
        font-size: 16px;
    }
}