body {
    background-color: var(--secondary);
}
.title {
    font-size: 4.25rem;
    font-family: 'MilgranCondensed';
    margin: -1.75rem 0;
    text-align: right;
}

.hero {
    background: radial-gradient(#36393B, #252729);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
}

.hero-img {
    width: 80%;
    height: auto;
}

.skill-card {
    background-color: var(--light);
    padding: var(--spacing-three);
    border: none;
    border-radius: 10px;
    width: 20rem;
    text-align: center;
}

.featured-img {
    width: 40%;
    border-radius: 10px;
}

/* .home-slanted-div {
    position: relative;
    padding: var(--spacing-four) 0;
    background: var(--secondary);
    overflow: visible;
    z-index: 1;
}
  
.home-slanted-div:after {
    content: '';
    width: 100%;
    height: 100%;
    position: absolute;
    background: inherit;
    z-index: -1;
    bottom: 0;
    transform-origin: right top;
    transform: skewY(2deg);
}

.home-slanted-div div .skill-card {
    background-color: light;
    border: none;
    border-radius: 15px;
    text-align: center;
} */