.slanted-right {
    background-color: var(--secondary);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 90%);
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    padding-top: calc(1rem * 11);
    padding-bottom: calc(1rem * 9);
}

.page-title, .portfolio-blurb {
    text-align: center; 
}

.placeholder {
    display: none;
}

h2 {
    padding: 0;
}

h2 + h2 {
    padding: 0;
}

img {
    width: 100%;
}

.divider {
    color: var(--tertiary);
    font-size: 2.25rem;
}

.galleryBtn {
    border: none;
    background-color: inherit;
    color: var(--tertiary);
    font-size: 2.25rem;
}

.selected {
    border-bottom: 4px solid var(--primary); 
}

@media screen and (min-width: 992px) {
    h2 {
        padding: 0;
    }

    h2 + h2 {
        padding: 0;
    }

    .design {
        padding-right: 0;
    }
    .development {
        padding-left: 0;
    }
}

@media screen and (min-width: 768px) {
    .placeholder {
        display: block;
    }

    .page-title, .portfolio-blurb {
        text-align: left; 
    }

    .design {
        padding-right: var(--spacing-four);
    }
    .development {
        padding-left: var(--spacing-four);
    }

    h2 {
        padding-right: var(--spacing-four);
    }
    h2 + h2 {
        padding-right: 0;
        padding-left: var(--spacing-four);
    }
}